GoogleNews-vectors-negative300.bin.gz
is_that_a_duplicate_quora_question/*
quora_questions_pairs/datasets/*
!quora_questions_pairs/datasets/.gitkeep
.venv/*
quora_questions_pairs/trained_models/*
!quora_questions_pairs/trained_models/.gitkeep
.tox/
tox.ini
quora_questions_pairs/__pycache__/
quora_questions_pairs/training_data/
!quora_questions_pairs/training_data/.gitkeep
tests/__pycache__/*
